
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  vertical-align: top;
}


@font-face {
    font-family: "Work600";
    src: local("Work Sans SemiBold"),
         local("WorkSans-SemiBold"),
         url("./fonts/WorkSans-SemiBold.woff") format("woff"),
         url("./fonts/WorkSans-SemiBold.woff2") format("woff2"),
         url("./fonts/WorkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.conteiner{
    background-color: rgba(43, 43, 43, 1);
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.logo{
    width: 243.41px;
    height: 32px;
}

.lk{
    width: 20px;
    height: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    width: 152px;
    height: 60px;
    background-color: rgba(162, 89, 255, 1);
    border-radius: 20px;
}

.menuContent{
    display: flex;
    gap:10px;
    align-items: center;   
}

.menuContent a{
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    font-family: 'Work600';
}

.btn a{
    padding: 0;
}

.burger{
    display: none;
    width: 24px;
    height: 24px;
}

hr{
    display: none;
}

.btn:hover{
    background-color: rgb(54, 97, 99);
    box-shadow: 0px 0px 1px 1px white;
}

.menuContent a:hover{
    text-decoration: underline;
}



@media (max-width:1050px) {
    .menuContent {
        position: absolute;
        display: flex;
        top: 54px;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 10px;
        opacity: 0;
        background-color: rgba(43, 43, 43, 1);
    }

    hr{
        display: block;
        width: 100%;
    }

    .menuContent.active {
        display: flex;
        opacity: 1;
        transition: 0.25s linear;
    }

    .burger {
        display: block;
    }
    
    .conteiner{
        padding: 15px 50px;
    }
    .logo{
        width: 182.56px;
        height: 24px;
    }

    .btn{
        gap:6px;
        width: 120px;
        height: 40px;
    }

    .burger.active{
        transition: 0.25s linear;
        transform: rotate(90deg);
    }
}

@media (max-width:375px) {
    .conteiner{
        padding: 15px 30px;
    }
}